@model GerenciadorCartoesCredito.Models.ViewModels.GastosViewModel

@{
    ViewData["Title"] = "Gastos do Cartão " + Model.NumeroCartao;
    string classes = "c100 big blue p" + Model.PorcentagemGasta;
}

<div class="alert alert-secondary">
    Cartão número @Model.NumeroCartao
</div>

@if (TempData["Cadastro"] != null)
{
    <h6 class="alert alert-success">@TempData["Cadastro"]</h6>
}

else @if (TempData["Atualizacao"] != null)
{
<h6 class="alert alert-primary">@TempData["Atualizacao"]</h6>
}

else @if (TempData["Exclusao"] != null)
{
<h6 class="alert alert-danger">@TempData["Exclusao"]</h6>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="@classes">
            <span>@Model.PorcentagemGasta%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="NovoGasto" asp-route-cartaoId="@Model.CartaoId" class="btn btn-success btn-sm">Novo Gasto</a>
</p>
<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Valor do Gasto
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaGastos)
        {
            <tr>
                <td>
                    @item.Descricao
                </td>
                <td>
                    R$ @item.Valor
                </td>

                <td>
                    <a asp-action="EditarGasto" asp-route-gastoId="@item.GastoId" class="btn btn-sm btn-outline-primary">Editar</a> |
                    <a onclick="ExibirModal(@item.GastoId)" title="Excluir Gasto" class="btn btn-sm btn-outline-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja proseguir com a exclusão de Gasto</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btnExcluir">Sim</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function ExibirModal(gastoId) {
            $(".modal").modal();
            $(".btnExcluir").on('click', function () {
                $.ajax({
                    url: "ExcluirGasto",
                    method: "POST",
                    data: { gastoId: gastoId },
                    success: function (data) {
                        $(".modal").modal('hide');
                        location.reload(true);
                    }
                });
            });
        }
    </script>
}
